/*---------------------*/
/* FONTS */
/*---------------------*/

@font-face {
  font-family: 'Podium Sharp';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1652173357/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9italic-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1652173357/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9italic-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Podium Sharp';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1637672348/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9-webfont.woff2') format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1636017636/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-light-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-light-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-regular-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-regular-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-bold-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-bold-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/*---------------------*/
/* VARIABLES */
/*---------------------*/

:root {
  font-size: 16px;

  --font-down-1: .875rem;

  --heading-font-family: 'Podium Sharp', sans-serif;
  --font-family: 'Roboto Condensed', sans-serif;

  --color-main: rgb(19 240 148);
  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);
  --color-mono-100: rgb(255 255 255);
  --color-mono-900: rgb(0 0 0);
  --color-blue: rgb(0 225 255);
  --color-ui-100: rgb(243 243 246);
  --color-ui-200: rgb(185 187 209);
  --color-ui-300: rgb(144 144 184);
  --color-ui-400: rgb(93 93 137);
  --color-ui-500: rgb(51 51 102);
  --color-ui-600: rgb(38 38 79);
  --color-ui-700: rgb(31 31 66);
  --color-ui-800: rgb(21 21 50);
  --color-ui-850: rgb(15 15 35);
  --color-ui-900: rgb(11 11 30);
  --color-premium-300: rgb(253 226 104);
  --color-premium-500: rgb(251 192 45);
  --color-premium-700: rgb(249 168 37);
  --color-interaction-300: rgb(86 255 185);
  --color-interaction-500: rgb(19 240 148);
  --color-interaction-700: rgb(6 201 120);
  --color-blue-300: rgb(166 244 255);
  --color-blue-500: rgb(0 225 255);
  --color-blue-700: rgb(0 175 204);
  --color-purple-300: rgb(236 169 250);
  --color-purple-500: rgb(234 120 253);
  --color-purple-700: rgb(138 37 200);
  --color-teal-300: rgb(46 255 202);
  --color-teal-500: rgb(20 247 190);
  --color-teal-700: rgb(2 201 151);
  --color-attention-300: rgb(251 140 0);
  --color-attention-500: rgb(245 124 0);
  --color-attention-700: rgb(239 108 0);
  --color-success-300: rgb(153 235 168);
  --color-success-500: rgb(83 221 108);
  --color-success-700: rgb(30 153 53);
  --color-info-300: rgb(77 180 255);
  --color-info-500: rgb(4 150 255);
  --color-info-700: rgb(3 105 178);
  --color-error-300: rgb(255 89 89);
  --color-error-500: rgb(255 51 51);
  --color-error-700: rgb(178 36 36);
  --color-disabled-300: rgb(86 90 107);
  --color-disabled-500: rgb(52 56 71);
  --color-disabled-700: rgb(25 26 47);
  --color-gold-300: rgb(254 250 68);
  --color-gold-500: rgb(255 226 1);
  --color-gold-700: rgb(255 156 4);
  --color-silver-300: rgb(212 213 215);
  --color-silver-500: rgb(175 177 182);
  --color-silver-700: rgb(97 100 107);
  --color-bronze-300: rgb(250 234 148);
  --color-bronze-500: rgb(242 190 81);
  --color-bronze-700: rgb(188 129 49);
  --color-game-apexlegends: rgb(218 42 41);
  --color-game-csgo: rgb(249 129 0);
  --color-game-dota2: rgb(239 61 54);
  --color-game-leagueoflegends: rgb(197 149 74);
  --color-game-pubg: rgb(242 169 0);
  --color-game-rocketleague: rgb(46 113 198);
  --color-game-valorant: rgb(255 70 85);

  --primary-med-or-secondary-high: var(--color-ui-200);
  --primary-med-or-secondary-med: var(--color-ui-200);
  --header_primary-low-mid: var(--color-ui-200);
  --tertiary-very-low: var(--color-main);
  --tertiary-low: var(--color-main);
  --tertiary-medium: var(--color-main);
  --tertiary-high: var(--color-main);
  --tertiary-hover: var(--color-main);
  --tertiary-50: var(--color-main);
  --tertiary-100: var(--color-main);
  --tertiary-200: var(--color-main);
  --tertiary-300: var(--color-main);
  --tertiary-400: var(--color-main);
  --tertiary-500: var(--color-main);
  --tertiary-600: var(--color-main);
  --tertiary-700: var(--color-main);
  --tertiary-800: var(--color-main);
  --tertiary-900: var(--color-main);

  --primary-very-low: var(--color-ui-900);
  --primary-low: var(--color-ui-700);
  --primary-low-mid: var(--color-ui-600);
  --primary-medium: var(--color-ui-300);
  --primary-high: var(--color-ui-200);
  --primary-very-high: var(--color-ui-100);
  --primary-50: var(--color-ui-900);
  --primary-100: var(--color-ui-850);
  --primary-200: var(--color-ui-800);
  --primary-300: var(--color-ui-700);
  --primary-400: var(--color-ui-600);
  --primary-500: var(--color-ui-500);
  --primary-600: var(--color-ui-400);
  --primary-700: var(--color-ui-300);
  --primary-800: var(--color-ui-200);
  --primary-900: var(--color-ui-100);

  --quaternary-low: #4a2500;
  --highlight-low: var(--color-interaction-700);
  --highlight-medium: var(--color-interaction-500);
  --highlight-high: var(--color-interaction-300);
  --danger-low: var(--color-attention-700);
  --danger-low-mid: var(--color-attention-500);
  --danger-medium: var(--color-attention-300);
  --danger-hover: var(--color-attention-300);
  --success-low: var(--color-interaction-700);
  --success-medium: var(--color-interaction-500);
  --success-hover: var(--color-interaction-300);

  --secondary-low: var(--color-ui-200);
  --secondary-medium: var(--color-ui-300);
  --secondary-high: var(--color-ui-400);
  --secondary-very-high: var(--color-ui-500);

  --highlight-low-or-medium: rgba(19, 240, 148, 0.15);
}

/*---------------------*/
/* MISC */
/*---------------------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://res.cloudinary.com/gloot/image/upload/v1656493818/Marketing/202207_community/Community_bg.webp);
  background-size: cover;
  background-position: center;
}

.clearfix:before,
.nav-pills:before,
.container:before,
.wrap:before,
.clearfix:after,
.nav-pills:after,
.container:after,
.wrap:after {
  display: none;
}

.posts-wrapper {
  -webkit-font-smoothing: antialiased;
}
pre code {
  background: var(--color-ui-700);
  border-radius: 0.25rem;
}
p>code, li>code, pre>code {
  background: var(--color-ui-700);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

p {
  a {
    &:hover {
      text-decoration: underline;
      &:active {
        color: var(--color-interaction-300);
      }
    }
  }
}

span.highlighted {
  background: var(--color-main);
  color: var(--color-ui-800);
}

/*---------------------*/
/* COLORS */
/*---------------------*/

.topic-meta-data .post-info a {
  color: var(--color-ui-300);
}

.spinner {
  border: 4px solid var(--color-main);
  border-right-color: transparent;
}

/*---------------------*/
/* TOPIC LIST */
/*---------------------*/

.topic-list {
  border-collapse: separate;
  border-spacing: 0 1rem;

  .topic-list-item,
  tr {
    --border: 1px solid var(--color-ui-700);
    --background: var(--color-ui-800);
    --radius: 0.5rem;
    -webkit-animation: slideInBottom .88s cubic-bezier(.7, 0, .1, 1) both;
    animation: slideInBottom .88s cubic-bezier(.7, 0, .1, 1) both;
    transform: translateY(2rem);
    opacity: 0;

    @for $item from 1 through 100 {
      $seconds: $item * 0.025s;

      &:nth-child(#{$item}) {
        -webkit-animation-delay: #{$seconds};
        animation-delay: #{$seconds};
      }
    }

    >td {
      background: var(--background);
      border-top: var(--border) !important;
      border-bottom: var(--border) !important;
      transition: all .3s ease-in-out;

      &.num {
        >* {
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          line-height: 1.5;
          display: inline-block;
          --tw-gradient-from: var(--color-ui-800);
          --tw-gradient-to: var(--color-ui-700);
          --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
          background: linear-gradient(to bottom, var(--tw-gradient-stops));

          :is(a),
          &.btn-link {
            &:hover {
              color: var(--color-main);
            }
          }
        }
      }
    }

    >td:first-child {
      border-left: var(--border) !important;
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }

    >td:last-child {
      border-right: var(--border) !important;
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }


    &.visited {
      >td {
      }
    }
  }

  .topic-list-item.visited .topic-list-data a.title:not(.badge-notification),
  .latest-topic-list-item.visited a.title:not(.badge-notification),
  .category-topic-link.visited a.title:not(.badge-notification) {

  } 

  .main-link.focused {
    box-shadow: none;

    >td {
      background: var(--color-ui-700);
    }
  }

  button.bulk-select {
    height: 42px;
    width: 42px;
  }

  [data-sort-order] {
    border-radius: 0.25rem;
    padding: 0.45rem 0;
    transition: background-color 0.2s, color 0.2s;

    &.sortable {
      &:hover {
        background-color: rgba(19, 240, 148, 0.15);
        color: var(--color-main);
      }
    }
  }
}

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  &:hover {
    color: var(--color-main);
  }
}

@mixin heading-h1(){
  color: var(--color-main);
  font-family: var(--heading-font-family);
  font-size: var(--font-up-3);
  letter-spacing: 0.025em;
  font-style: italic;
}
@mixin heading-h2(){
  color: var(--color-main);
  font-family: var(--heading-font-family);
  font-size: var(--font-up-2);
  letter-spacing: 0.025em;
  font-style: italic;
}
@mixin heading-h4(){
  color: var(--color-main);
  font-family: var(--heading-font-family);
  font-size: var(--font-up-1);
  letter-spacing: 0.025em;
  font-style: italic;
}

.topic-list {
  .topic-list-item-separator {
    position: relative;

    .topic-list-data {
      span {
        @include heading-h4();
        text-transform: uppercase;

      }
    }
  }
}

.names span a {
  @include heading-h4();
}


@keyframes slideInBottom {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  font-family: var(--heading-font-family);
  font-style: italic;
  letter-spacing: 0.04em;
  color: var(--color-ui-100);
  transition: all .3s ease-in-out;

  &:hover {
    color: var(--color-main);
  }
}

.topic-list .topic-excerpt {
  font-size: 0.9rem;
}

.select-kit.combo-box.category-drop {
  .select-kit-row {
    &[data-value="all-categories"], 
    &[data-value="no-categories"] {
      padding: 0.5rem !important;
    }
  }
}


/*---------------------*/
/* HEADER */
/*---------------------*/

.d-header {
  background: rgba(11, 11, 30, 0.95);
  box-shadow: none;
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur);
  backdrop-filter: var(--tw-backdrop-blur);

  .unread-high-priority-notifications.badge-notification[href] {
    box-shadow: 0 0 0 2px var(--color-ui-800);
  }
}

.empty-state {
  .empty-state-title {
    font-weight: normal;
    font-family: var(--heading-font-family) !important;
    font-size: var(--font-up-1) !important;
    font-style: italic;
  }
}

.d-header-icons {
  display: flex;
  gap: 0.5rem;

  .icon {
    border-radius: 100%;
    background: var(--color-ui-700) !important;
    border: 1px solid var(--color-ui-600) !important;
    width: 32px;
    height: 32px;

    &:hover {
      background: var(--color-ui-500) !important;
      border: 1px solid var(--color-ui-500) !important;

      .d-icon {
        color: var(--color-ui-100) !important;
      }
    }
  }

  .d-icon {
    width: 18px;
    color: var(--header_primary-low-mid);
  }
}

/*---------------------*/
/* ALERT */
/*---------------------*/

.alert {
  border-radius: 0.25rem;
  &.alert-danger {
    color: var(--color-ui-800);
  }
  &.alert-info {
    color: var(--color-ui-800);
  }
  a {
    color: var(--color-ui-800) !important;
    text-decoration: underline;
  }
}

/*---------------------*/
/* POLLS */
/*---------------------*/

div.poll {
  border-radius: 0.25rem;

  .results {
    .bar-back {
      background: var(--color-ui-700);
      height: 10px;
      border-radius: 0.125rem;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      > * {
        position: relative;
        z-index: 2;
        background-size: 400px auto;
        background-image: linear-gradient(to right, #00fddc 0px, #00a6fb 200px, #00fddc 400px);
        background-repeat: repeat;
        transition: all 1.2s cubic-bezier(0.9, 0, 0.1, 1);
        animation: progressBarGradient 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

        &:not([style*='width:100%']){
          clip-path: polygon(0% 0%, 100% 0%, calc(100% - 0.5em) 100%, 0% 100%);
        }
      }
    }
    .option {
      + .bar-back {
        margin-top: 0.5rem;
      }
    }
  }
}

@keyframes progressBarGradient {
  0% {
    background-position: 0px 0;
  }

  100% {
    background-position: 400px 0;
  }
}


/*---------------------*/
/* BUTTONS */
/*---------------------*/

@mixin button-base() {
  margin: 0;
  font-weight: normal;
  font-family: var(--heading-font-family) !important;
  font-size: var(--font-up-1) !important;
  transition: all 0.25s;
  border: none;
  min-height: 1rem;
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.75rem;
  line-height: 1;
  letter-spacing: .025em;
  -webkit-font-smoothing: antialiased;
  border-radius: 0.25rem;

  &:focus-visible {
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 2px;
    outline-color: var(--color-main);
  }

  &:active {

    &:hover,
    &:focus {
      opacity: 0.75;
      transform: scale(0.95);
    }
  }
}

@mixin button-primary() {
  @include button-base();
  background: var(--color-interaction-500) !important;
  --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &,
  .d-icon {
    color: var(--color-ui-800) !important;
  }

  &:hover,
  &:focus-visible {
    background: var(--color-interaction-300) !important;
    --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    &,
    .d-icon {
      color: var(--color-ui-800) !important;
    }
  }
}

@mixin button-danger() {
  @include button-base();
  background: var(--color-error-500) !important;
  --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &,
  .d-icon {
    color: var(--color-ui-800) !important;
  }

  &:hover,
  &:focus-visible {
    background: var(--color-error-300) !important;
    --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    &,
    .d-icon {
      color: var(--color-ui-800) !important;
    }
  }
}

@mixin button-tertiary() {
  @include button-base();
  background: var(--color-ui-700) !important;
  --tw-shadow: inset 0 0 0 1px rgba(93, 93, 137, 0);
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &,
  .d-icon {
    color: var(--color-ui-300) !important;
  }

  &:not([disabled]),
  &:not(.is-disabled) {

    &:hover,
    &:focus-visible {
      background: var(--color-ui-600) !important;
      --tw-shadow: inset 0 0 0 1px rgba(93, 93, 137, 0);
      --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

      &,
      .d-icon {
        color: var(--color-ui-200) !important;
      }
    }
  }
}

@mixin button-ghost() {
  @include button-base();
  background: transparent !important;
  --tw-shadow: inset 0 0 0 1px rgba(93, 93, 137, 0);
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &,
  .d-icon {
    color: var(--color-ui-300) !important;
  }

  &:not([disabled]),
  &:not(.is-disabled) {

    &:hover,
    &:focus-visible {
      background: var(--color-ui-600) !important;
      --tw-shadow: inset 0 0 0 1px rgba(93, 93, 137, 0);
      --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

      &,
      .d-icon {
        color: var(--color-ui-200) !important;
      }
    }
  }
}

.btn {
  @include button-base();
  &.selected-choice {
    background: var(--color-ui-800) !important;
  }
}

.btn {
  &:not(.widget-button):not(.btn-default):not(.btn-flat):not(.btn-danger):not(.dropdown-select-box-header):not(.favorite-btn),
  &.btn-primary,
  &#create-topic {
    @include button-primary();
  }
  &.btn-danger {
    @include button-danger();
  }
}

.double-button {
  > button {
    &:first-child:not(:last-child) {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

.quote-button {
  border-radius: 0.5rem;
}

.quote-controls .quote-toggle {
  width: 42px;
  height: 42px;
}

:where(.widget-button, .btn-default, .btn-flat) {
  @include button-tertiary();
}
:where(.favorite-btn) {
  @include button-ghost();
}

.btn-flat,
.btn {
  &.no-text {
    width: 42px;
    height: 42px;
    &.close {
      border-radius: 100%;
      &:hover {
        transform: rotate(-90deg);
      }
    }
    .d-icon {
      padding: 0 !important;
    }
  }
}
#reply-control .reply-to .composer-action-title {
  gap: 0.5rem;
}

nav.post-controls .actions button.d-hover,
nav.post-controls .actions button:focus,
nav.post-controls .actions button:active {
  background: var(--color-ui-700);
}

.controls {
  .grouped-control {
    .grouped-control-field {
      align-items: center;
      gap: 0.25rem;
    }
  }
}

/*---------------------*/
/* TOPIC */
/*---------------------*/

@mixin surface() {
  background: var(--color-ui-800) !important;
  border: 1px solid var(--color-ui-700) !important;
}

@mixin surface-700() {
  background: var(--color-ui-700) !important;
  border: 1px solid var(--color-ui-600) !important;
}

@mixin surface-600() {
  background: var(--color-ui-600) !important;
  border: 1px solid var(--color-ui-500) !important;
}

#topic-title h1 a {
  font-style: italic;
  color: var(--color-ui-100);

  &:hover {
    color: var(--color-main);
  }
}

.names span a {
  color: var(--color-main);

  &:hover {
    color: var(--color-interaction-300);
  }
}

.post-stream {
  >.topic-post {
    margin-bottom: 1rem;
    border: none;

    &.topic-owner {
      .topic-body {
        -webkit-animation: topicHighlight 0.8s cubic-bezier(.7, 0, .3, 1);
        animation: topicHighlight 0.8s cubic-bezier(.7, 0, .3, 1);
        border: 1px solid var(--color-main) !important;
      }
    }
    > article {

    }
  }
}

.badge-card {
  border-radius: 0.5rem;
  .badge-contents {
    
    .badge-icon.badge-type-bronze {
      .fa {
        color: var(--color-main) !important;
      }
    }
  }
}

.user-info.medium .username, 
.user-info.medium .name {
  @include heading-h4();
}

.user-stream {
  .notification {
    &.unread {
      background: transparent;
    }
  }
  .item, 
  .user-stream-item {
    border-radius: 0.25rem;
    border: none;
    background: var(--color-ui-700);
    &.unread {
      background: var(--color-ui-700);
      box-shadow: 0 0 0 1px var(--color-main);
    }
    &:hover {
      background: var(--color-ui-600);
    }
  }
}

@keyframes topicHighlight {
  0% {
    opacity: 0;
    transform: translateY(2rem);
    background: var(--color-ui-500)
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    background: var(--color-ui-800)
  }
}

.topic-body {
  border-radius: 1rem;
  @include surface();
  padding: 0.5rem;

  .topic-meta-data {
    padding: 0 0 0 0.75rem;

    .post-info {
      a {
        background: var(--color-ui-600);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        font-size: var(--font-down-1);
      }
    }
  }

  .cooked {
    line-height: 2.5rem;
  }
}

.cooked, 
.d-editor-preview {
  h1 {
    @include heading-h2();
  }
}

.moderator {
  .regular {
    >.cooked {
      border-radius: 0.5rem;
      box-shadow: inset 0 0 3px 0 var(--color-main);
    }
  }
}

.topic-avatar {
  padding: 1rem 1rem 1rem 0;
  border: none;
}

@mixin scrollbar-desktop() {
  @media not all and (hover: none) and (pointer: coarse) {
    &::-webkit-scrollbar {
      right: 1px;
      width: 3px;
      height: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-ui-400);
      transition: all .3s ease;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-ui-300);
    }
    &::-webkit-scrollbar-track {
      background: var(--color-ui-700);
      opacity: 0.75;
    }
    &::-webkit-scrollbar-track:hover {
      background: var(--color-ui-700);
      opacity: 0.5;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}

.open .grippie {
  --tw-gradient-from: var(--color-teal-500);
  --tw-gradient-to: var(--color-blue-500);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
}

#reply-control.draft, 
#reply-control.saving {
  background: var(--color-ui-600);
  padding: 0.5rem 0;
  color: var(--color-ui-200);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid var(--color-ui-500);
}

body:not(.ios-safari-composer-hacks) #reply-control.open {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

.topic-map {
  margin: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  @include surface-700();

  section {
    &:first-child {
      border: none;
    }

    &:not(:first-child) {
      border-top: 1px solid var(--color-ui-600);
    }

    &.avatars {
      display: flex;
      flex-wrap: wrap;
      gap: 0.1rem;

      h3 {
        width: 100%;
      }
    }
  }

  ul {
    padding: 0.5rem;
    display: flex;

    >li {
      margin-right: 0.5rem;
      border-radius: 0.25rem;
      --tw-gradient-from: var(--color-ui-800);
      --tw-gradient-to: var(--color-ui-700);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      background: linear-gradient(to bottom, var(--tw-gradient-stops));
      border: 1px solid var(--color-ui-600) !important;
    }
  }

  .map {
    li {
      &.avatars {
        padding: 0.5rem;
        display: flex;
        max-width: 100px;
        overflow: scroll;
        gap: 0.25rem;
        align-items: center;
        > * {
          margin: 0;
        }
        @include scrollbar-desktop();
      }
    }
  }

  .buttons {
    .btn {
      color: var(--color-ui-200);
      background: transparent;
      border: 1px solid var(--color-ui-700);
      border-radius: 0.5rem;

      &:hover {
        color: var(--color-ui-100);
        background: var(--color-ui-500);

        &:hover,
        &:focus-visible {
          --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
          --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
      }
    }
  }

  h4 {
    margin: 1px 0 2px 0;
    color: var(--color-ui-300);
    font-family: var(--font-family);
    font-weight: normal;
    font-size: var(--font-down-1);
    line-height: var(--line-height-small);
  }
}

.lazyYT-container,
.cooked iframe {
  border-radius: 0.25rem;
}

.topic-area>.loading-container {
  width: unset;
}
.topic-status-info, .topic-timer-info {
  max-width: 100%;
}
.small-action {
  max-width: 790px;

  &.topic-post-visited {
    .topic-post-visited-line {
      margin: 1rem 0px 2rem;
      border-bottom: 1px solid var(--color-ui-600);
    }

    .topic-post-visited-message {
      color: var(--color-ui-300);
    }
  }
}

a.trigger-user-card {
  &:hover {
    opacity: 0.75;
  }
}
.embedded-posts {
  border: none;

  .topic-avatar {
    padding: 0;
  }

  .topic-body {
    @include surface-700();
  }

  &.bottom .row .topic-avatar,
  &.bottom .row .topic-body {
    border: none;
  }
}

.post-info {
  &.post-date {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    --tw-gradient-from: var(--color-ui-900);
    --tw-gradient-to: var(--color-ui-800);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background: linear-gradient(to bottom, var(--tw-gradient-stops));
    border: 1px solid var(--color-ui-700) !important;

    > * {
      background: transparent !important;
    }
  }
  &.edits {
    > .btn-flat {
      height: 32.4px;
      width: auto;
      gap: 0.25rem;
    }
  }
}

aside.quote {
  border-radius: 0;
  background-image: linear-gradient(90deg, var(--color-ui-900), transparent);

  blockquote {
    margin-bottom: 0;
  }
}

aside.quote .title,
blockquote {
  border-left: 5px solid var(--color-ui-500);
  background: transparent;
}

aside.onebox {
  background: var(--color-ui-900);
  border-radius: 0.5rem;
  border: 3px solid var(--color-ui-700);

  img {
    border-radius: 0.25rem;
  }
  .onebox-body {
    a[href] {
      &:hover {
        color: var(--color-interaction-300);
      }
    }
  }
}


.posts-filtered-notice {
  max-width: 100%;
}

.post-menu-area {
  margin: 1rem;
}

/*---------------------*/
/* TIMELINE */
/*---------------------*/

.timeline-container {
  .topic-timeline {
    .timeline-handle {
      background: var(--color-main);
      transform: skewY(-24deg);
      border-radius: 0;
    }

    .timeline-scrollarea {
      border-left: 1px solid var(--color-ui-700);
    }
  }
}

/*---------------------*/
/* MODAL */
/*---------------------*/

.bootbox.modal {
  @include surface();
  border-radius: 0.5rem;
}
.modal-inner-container {
  @include surface();
  border-radius: 0.5rem;
}
.modal-header {
  border-bottom: 1px solid var(--color-ui-700) !important;
}
.modal-footer {
  border-top: 1px solid var(--color-ui-700) !important;
  gap: 0.5rem;
}

/*---------------------*/
/* IMAGES */
/*---------------------*/

.cooked img:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji),
.d-editor-preview img:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji) {
  border-radius: 0.25rem;
  background-color: var(--color-ui-200);
}

/*---------------------*/
/* LIST CONTROLS */
/*---------------------*/

@mixin dropdown() {
  border-radius: 0.5rem !important;
  background: var(--color-ui-700) !important;
  border: 1px solid var(--color-ui-600) !important;
  box-shadow: 0px 51px 51px rgba(11, 11, 30, 0.2), 0px 33.0556px 29.8681px rgba(11, 11, 30, 0.151852), 0px 19.6444px 16.2444px rgba(11, 11, 30, 0.121481), 0px 10.2px 8.2875px rgba(11, 11, 30, 0.1), 0px 4.15556px 4.15556px rgba(11, 11, 30, 0.0785185), 0px 0.944444px 2.00694px rgba(11, 11, 30, 0.0481481);
}

@mixin menu() {
  margin: 0;
  padding: 0;

  >li {
    transition: all .2s ease-in-out;
    padding: 0 !important;

    &,
    &.is-highlighted,
    &.is-selected
    > * {
      &,
      &:hover {
        font-size: 1rem !important;
        background: transparent !important;
      }
    }
    &.is-selected {
      background: transparent !important;
      &,
      & * {
        color: var(--color-main) !important
      }
    }

    & {
      pointer-events: auto !important;
      position: relative;
      z-index: 20;
      user-select: none;
      transition: all .075s linear;

      > * {
        position: relative;
        z-index: 20;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--color-ui-600);
        transition: all 0.075s cubic-bezier(.7, 0, .3, 1);
        opacity: 0;
        transform: scaleY(0) translateY(0.5rem);
      }

      &:hover,
      &:focus-visible,
      &.is-active,
      &.active {
        color: var(--color-ui-100) !important;
        z-index: 20;

        &::after {
          opacity: 1;
          transform: scaleY(1) translateY(0);
        }
      }
    }
    
    &:active {
      &:hover,
      &:focus {
        &,
        &::after {
          background: var(--color-ui-600);
        }
      }
    }
  }


  a,
  button,
  .category-status {
    position: relative;
    display: inline-flex;
    gap: 0.5rem;
    flex: 1;
    padding: 0.5rem;
    cursor: pointer;
    transition: all .2s cubic-bezier(.7, 0, .3, 1);
    color: var(--color-ui-200);

    &:hover {
      color: var(--color-ui-100);
    }
  }
}

ul.menu-links,
ul.select-kit-row,
ul.select-kit-collection,
ul.category-links,
ul.activity-nav,
ul.preferences-nav,
ul.messages-nav,
ul.notifications-nav {
  @include menu();
}

.form-vertical {
  .control-label {
    @include heading-h4();
  }
}

.user-content {
  @include surface();
  border-radius: 1rem;
  padding: 1rem;

  .user-notifications-filter {
    margin-bottom: 0.5rem;
  }
}

.user-secondary-navigation {
  .nav-stacked {
    background: transparent;
    li {
      &,
      &:hover
      &.active {
        background: transparent;
      }

      a {
        width: 100%;
      }
      &.archive {
        padding-left: 1rem !important;
      }
    }
  }
}

.user-theme-creator {
  .user-theme-list {
    ul {
      li {
        a {
          color: var(--color-ui-300);
        }
      }
    }
    .user-theme-list-heading {
      @include heading-h4();
    }
  }
}



.stats-title {
  @include heading-h4();
}

.stats-section {
  .value {
    font-family: var(--heading-font-family);
    font-size: var(--font-up-1);
    letter-spacing: 0.025em;
  }
}

.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus, 
.menu-panel .categories-link:hover, 
.menu-panel .categories-link:focus {
  background: var(--color-ui-600);
}

.menu-panel {
  ul.category-links {
    padding: 0.5rem;
  }
}

img.avatar {
  //border: 2px solid var(--color-ui-200);
}

.panel-body-bottom {
  background: var(--color-ui-800);
  border-radius: 0.5rem;
  gap: 0.5rem;
  > * {
    margin: 0 !important;
  }
  &:not(:empty) {
    padding: 0.5rem;
  }
  &:empty {
    padding: 0;
    margin: 0;
  }
}

.user-main {
  .about {
    .details {
      background: transparent;
      .primary h1 {
        @include heading-h1();
      }
    }
    &.collapsed-info {
      .details {
        background: transparent;
      }
    }
  }
}

ul.notifications {
  li,
  .unread {
    background: transparent;
  }
  li {
    border-radius: 0.25rem !important;
    transition: all 0.2s ease;
    &:hover {
      background: var(--color-ui-700);
    }
  }
  li:not(:last-child){
    margin-bottom: 0.5rem;
  }
}

.list-controls {
  .combo-box {
    .combo-box-header {
      border: 1px solid var(--color-ui-700);
      border-radius: 0.25rem;
    }
  }
}

.nav-pills>li a {
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1;

  &:not(.active) {
    &:hover {
      color: var(--color-main);
      background-color: rgba(19, 240, 148, 0.15);
    }
  }

  &.active {
    background: var(--color-main);
  }
}

.select-kit {

  &.single-select.dropdown-select-box.is-expanded .select-kit-collection,
  &.single-select.dropdown-select-box.is-expanded .select-kit-body {
    border-radius: 0.5rem;
  }

  &.dropdown-select-box.period-chooser .period-chooser-row {
    border-radius: 0.25rem;

    .top-date-string {
      color: var(--color-ui-300);
    }
  }

  &.single-select.dropdown-select-box .select-kit-header {
    &:hover {
      --tw-shadow: inset 0 0 0 1px transparent;
      --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      background: var(--color-ui-700);
    }

    h2 {
      margin: 0.25rem 0;
    }
  }

  .select-kit-header {
    .select-kit-header-wrapper {
      justify-content: center;
    }
  }

  .select-kit-collection {
    @include scrollbar-desktop();
  }
}

.select-kit.is-expanded .select-kit-body,
.menu-panel,
.select-kit-body {
  @include dropdown();
}
.select-kit-body {
  > ul {
    > li {
      > * {
        padding: 0.5rem !important;
      }
    }
  }
}

.select-kit.single-select.dropdown-select-box .select-kit-row {
  .icons {
    padding: 0.5rem;
    margin-right: 0.25rem;
  }
  .texts {
    padding: 0.25rem;
  }
}


#reply-control {
  background: var(--color-ui-800);
}

.row {
  display: flex;
  gap: 0.5rem;

  &::before,
  &::after {
    display: none;
  }
}

.full-width {
  width: 100%;
}

.footer-message {
  h3 {
    text-align: center;
    font-size: var(--font-up-1);
    font-style: italic;
  }
}

.embedded-posts.bottom .collapse-up {
  transform: translate(0, -50px);
}

.link-share-container, 
.notify-user-input {
  gap: 0.5rem;
}

.user-card, .group-card {
  .card-content {
    border-radius: 1rem;
    box-shadow: 0px 51px 51px rgba(11, 11, 30, 0.2), 0px 33.0556px 29.8681px rgba(11, 11, 30, 0.151852), 0px 19.6444px 16.2444px rgba(11, 11, 30, 0.121481), 0px 10.2px 8.2875px rgba(11, 11, 30, 0.1), 0px 4.15556px 4.15556px rgba(11, 11, 30, 0.0785185), 0px 0.944444px 2.00694px rgba(11, 11, 30, 0.0481481);
  }
  .badge-section {
    .user-badge, 
    .more-user-badges a {
      border-radius: 0.25rem;
    }
  }
  h1 a {
    color: var(--color-ui-100);
    font-style: italic;
  }
}

.badge-wrapper.bullet {
  .badge-category-parent-bg, 
  .badge-wrapper.bullet {
    .badge-category-bg {
      border-radius: 1px;
    }
  }
}

/*---------------------*/
/* CATEGORY */
/*---------------------*/

table.category-list {
  > tbody {
    > tr {
      > td {
        background: rgba(93, 93, 137, 0);
      }
    }
  }
}
.category-list .category-name {
  @include heading-h4();
}

/*---------------------*/
/* QUICK ACCESS */
/*---------------------*/

.user-menu {
  .quick-access-panel {
    ul {
      background: var(--color-ui-800);
      padding: 0.5rem;
      border-radius: 0.75rem;
      li {
        background: transparent;
        align-items: center;
        
        border-radius: 0.25rem;
        padding: 0.25rem;

        &:not(.read) {
          box-shadow: 0 0 0 1px var(--color-main);
        }
        
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        a {
          padding: 0.25rem 0.25rem 0.25rem 0.5rem
        }

        a,
        button {
          margin: 0;
          align-items: center;
        }
        &:hover {
          background: transparent;
          a,
          > * {
            color: var(--color-interaction-300);
          }
        }
      }
    }
    &.quick-access-profile {
      li:not(.show-all) {
        a {
          &:hover {
            color: var(--color-interaction-300);
          }
        }
      }
    }
    .read {
      background: transparent;
    }
  }
}

div.menu-links-header {
  .menu-links-row {
    button {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        height: 0.25rem;
        background-color: var(--color-main);
        opacity: 0;
        transition: all .3s cubic-bezier(.7,0,.3,1);
        display: none;
      }
      &.active {
        border-bottom: none;
        &,
        .d-icon {
          color: var(--color-main) !important;
        }
      }
    }
  }
}

/*---------------------*/
/* SEARCH MENU */
/*---------------------*/

.tap-tile-grid {
  .tap-tile {
    border: none;
    border-radius: 0.25rem;
    background: var(--color-ui-700);
    transition: all .3s ease;
    padding: 0.25rem 0.75rem;
    height: 42px;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
    &:hover {
      background: var(--color-ui-500);
    }
    &.active {
      &,
      .d-icon,
      .tap-tile-title {
        color: var(--color-ui-800);
      }
    }
  }
  + .btn {
    width: 100%;
  }
}




/*---------------------*/
/* BOOKMARK */
/*---------------------*/
.bookmark-with-reminder.modal {
  .modal-body {
    .ember-text-field.bookmark-name {
      margin-bottom: 0;
    }
  }
  .bookmark-name-wrap {
    gap: 0.5rem;
  }
}


.check-display.status-checked {
 
  --tw-gradient-from: var(--color-interaction-300);
  --tw-gradient-to: var(--color-interaction-300);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  --tw-gradient-to: var(--color-interaction-700);
  background-image: radial-gradient(100% 100% at 50% 0,var(--tw-gradient-stops));
}

/*---------------------*/
/* SEARCH MENU */
/*---------------------*/

.search-menu {
  .search-input {
    border-radius: 0.25rem;
  }
  .searching {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: 0.5rem;
    .d-icon {
      color: var(--color-ui-200) !important;
    }
  }
}
.search-container {
  .search-header {
    @include surface();
    border-radius: 1rem;
  }
  .search-filters {
    &,
    .search-advanced-filters {
      background: transparent;
    }
  }
}

.inline-form>.select-kit, 
.inline-form>input[type="text"], 
.inline-form>input[type="search"], 
.inline-form>label, 
.inline-form>.btn, 
.inline-form>.d-date-input {
  margin-bottom: 0;
}


/*---------------------*/
/* FORM */
/*---------------------*/

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.multi-select .multi-select-header,
.d-editor-textarea-wrapper,
.select-kit.combo-box .select-kit-header {
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: var(--color-ui-500);
  --tw-bg-opacity: 1;
  background-color: var(--color-ui-700);
  padding: 0.594rem;
  --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);

  &:focus-visible {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--color-ui-300);
  }
}
::placeholder {
  color: var(--color-ui-400);
}
.d-editor-container {
  gap: 1rem;
  .d-editor-textarea-column {
    flex: 2;
  }
  .d-editor-preview-wrapper {
    margin: 0;
  }
}
.d-editor-button-bar {
  gap: 0.25rem;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--color-ui-700);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 32px;
  height: 32px;
  border: 0.15em solid var(--color-ui-400);
  border-radius: 0.25em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background: var(--color-main);
  }

  &:checked::before {
    transform: scale(1);
  }

  :disabled {
    color: var(--color-disabled-300);
    cursor: not-allowed;
  }
}
label.checkbox-label {
  gap: 0.5rem;
  align-items: center;
}