/*---------------------*/
/* FONTS */
/*---------------------*/

@font-face {
  font-family: 'Podium Sharp';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1652173357/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9italic-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1652173357/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9italic-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Podium Sharp';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1637672348/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9-webfont.woff2') format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1636017636/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-light-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-light-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-regular-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-regular-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-bold-webfont.woff2') format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-bold-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/*---------------------*/
/* VARIABLES */
/*---------------------*/

:root {
  font-size: 16px;

  --font-down-1: .875rem;

  --heading-font-family: 'Podium Sharp', sans-serif;
  --font-family: 'Roboto Condensed', sans-serif;

  --color-main: rgb(19 240 148);
  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);
  --color-mono-100: rgb(255 255 255);
  --color-mono-900: rgb(0 0 0);
  --color-blue: rgb(0 225 255);
  --color-ui-100: rgb(243 243 246);
  --color-ui-200: rgb(185 187 209);
  --color-ui-300: rgb(144 144 184);
  --color-ui-400: rgb(93 93 137);
  --color-ui-500: rgb(51 51 102);
  --color-ui-600: rgb(38 38 79);
  --color-ui-700: rgb(31 31 66);
  --color-ui-800: rgb(21 21 50);
  --color-ui-850: rgb(15 15 35);
  --color-ui-900: rgb(11 11 30);
  --color-premium-300: rgb(253 226 104);
  --color-premium-500: rgb(251 192 45);
  --color-premium-700: rgb(249 168 37);
  --color-interaction-300: rgb(86 255 185);
  --color-interaction-500: rgb(19 240 148);
  --color-interaction-700: rgb(6 201 120);
  --color-blue-300: rgb(166 244 255);
  --color-blue-500: rgb(0 225 255);
  --color-blue-700: rgb(0 175 204);
  --color-purple-300: rgb(236 169 250);
  --color-purple-500: rgb(234 120 253);
  --color-purple-700: rgb(138 37 200);
  --color-teal-300: rgb(46 255 202);
  --color-teal-500: rgb(20 247 190);
  --color-teal-700: rgb(2 201 151);
  --color-attention-300: rgb(251 140 0);
  --color-attention-500: rgb(245 124 0);
  --color-attention-700: rgb(239 108 0);
  --color-success-300: rgb(153 235 168);
  --color-success-500: rgb(83 221 108);
  --color-success-700: rgb(30 153 53);
  --color-info-300: rgb(77 180 255);
  --color-info-500: rgb(4 150 255);
  --color-info-700: rgb(3 105 178);
  --color-error-300: rgb(255 89 89);
  --color-error-500: rgb(255 51 51);
  --color-error-700: rgb(178 36 36);
  --color-disabled-300: rgb(86 90 107);
  --color-disabled-500: rgb(52 56 71);
  --color-disabled-700: rgb(25 26 47);
  --color-gold-300: rgb(254 250 68);
  --color-gold-500: rgb(255 226 1);
  --color-gold-700: rgb(255 156 4);
  --color-silver-300: rgb(212 213 215);
  --color-silver-500: rgb(175 177 182);
  --color-silver-700: rgb(97 100 107);
  --color-bronze-300: rgb(250 234 148);
  --color-bronze-500: rgb(242 190 81);
  --color-bronze-700: rgb(188 129 49);
  --color-game-apexlegends: rgb(218 42 41);
  --color-game-csgo: rgb(249 129 0);
  --color-game-dota2: rgb(239 61 54);
  --color-game-leagueoflegends: rgb(197 149 74);
  --color-game-pubg: rgb(242 169 0);
  --color-game-rocketleague: rgb(46 113 198);
  --color-game-valorant: rgb(255 70 85);

  --primary-med-or-secondary-med: var(--color-ui-200);
  --header_primary-low-mid: var(--color-ui-200);
  --tertiary-very-low: var(--color-main);
  --tertiary-low: var(--color-main);
  --tertiary-medium: var(--color-main);
  --tertiary-high: var(--color-main);
  --tertiary-hover: var(--color-main);
  --tertiary-50: var(--color-main);
  --tertiary-100: var(--color-main);
  --tertiary-200: var(--color-main);
  --tertiary-300: var(--color-main);
  --tertiary-400: var(--color-main);
  --tertiary-500: var(--color-main);
  --tertiary-600: var(--color-main);
  --tertiary-700: var(--color-main);
  --tertiary-800: var(--color-main);
  --tertiary-900: var(--color-main);
}

/*---------------------*/
/* MISC */
/*---------------------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before,
.nav-pills:before,
.container:before,
.wrap:before,
.clearfix:after,
.nav-pills:after,
.container:after,
.wrap:after {
  display: none;
}

.posts-wrapper {
  -webkit-font-smoothing: antialiased;
}

/*---------------------*/
/* COLORS */
/*---------------------*/

.topic-meta-data .post-info a {
  color: var(--color-ui-300);
}

/*---------------------*/
/* TOPIC LIST */
/*---------------------*/

.topic-list {
  border-collapse: separate;
  border-spacing: 0 1rem;

  .topic-list-item,
  tr {
    --border: 1px solid var(--color-ui-700);
    --background: var(--color-ui-800);
    --radius: 0.5rem;
    -webkit-animation: slideInBottom .88s cubic-bezier(.7, 0, .1, 1) both;
    animation: slideInBottom .88s cubic-bezier(.7, 0, .1, 1) both;
    transform: translateY(2rem);
    opacity: 0;

    @for $item from 1 through 100 {
      $seconds: $item * 0.025s;

      &:nth-child(#{$item}) {
        -webkit-animation-delay: #{$seconds};
        animation-delay: #{$seconds};
      }
    }

    >td {
      background: var(--background);
      border-top: var(--border) !important;
      border-bottom: var(--border) !important;
      transition: all .3s ease-in-out;

      &.num {
        >* {
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          --tw-gradient-from: var(--color-ui-800);
          --tw-gradient-to: var(--color-ui-700);
          --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
          background: linear-gradient(to bottom, var(--tw-gradient-stops));

          :is(a),
          &.btn-link {
            &:hover {
              color: var(--color-main);
            }
          }
        }
      }
    }

    >td:first-child {
      border-left: var(--border) !important;
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }

    >td:last-child {
      border-right: var(--border) !important;
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }


    &.visited {
      >td {
        opacity: .75;
      }
    }
  }

  .main-link.focused {
    box-shadow: none;

    >td {
      background: var(--color-ui-700);
    }
  }

  [data-sort-order] {
    border-radius: 0.25rem;
    padding: 0.45rem 0;
    transition: background-color 0.2s, color 0.2s;

    &.sortable {
      &:hover {
        background-color: rgba(19, 240, 148, 0.15);
        color: var(--color-main);
      }
    }
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  font-family: var(--heading-font-family);
  font-style: italic;
  letter-spacing: 0.04em;
  color: var(--color-ui-100);
  transition: all .3s ease-in-out;

  &:hover {
    color: var(--color-main);
  }
}

.topic-list .topic-excerpt {
  font-size: 0.9rem;
}

/*---------------------*/
/* HEADER */
/*---------------------*/

.d-header {
  background: rgba(21, 21, 50, 0.95);
  box-shadow: none;
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur);
  backdrop-filter: var(--tw-backdrop-blur);
}

.d-header-icons {
  display: flex;
  gap: 0.5rem;

  .icon {
    border-radius: 100%;
    background: var(--color-ui-700);
    border: 1px solid var(--color-ui-600);

    &:hover {
      background: var(--color-ui-500) !important;
      border: 1px solid var(--color-ui-500) !important;

      .d-icon {
        color: var(--color-ui-100) !important;
      }
    }
  }

  .d-icon {
    width: 18px;
    color: var(--header_primary-low-mid);
  }
}

/*---------------------*/
/* BUTTONS */
/*---------------------*/

@mixin button-base() {
  margin: 0;
  font-weight: normal;
  font-family: var(--heading-font-family) !important;
  transition: all 0.25s;
  border: none;
  min-height: 1rem;
  user-select: none;
  font-size: 1.125rem !important;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.75rem;
  line-height: 1;
  letter-spacing: .025em;
  -webkit-font-smoothing: antialiased;
  border-radius: 0.25rem;

  &:focus-visible {
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 2px;
    outline-color: var(--color-main);
  }

  &:active {

    &:hover,
    &:focus {
      opacity: 0.75;
      transform: scale(0.95);
    }
  }
}

@mixin button-primary() {
  @include button-base();
  background: var(--color-interaction-500);
  --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &,
  .d-icon {
    color: var(--color-ui-800) !important;
  }

  &:hover,
  &:focus-visible {
    background: var(--color-interaction-300);
    --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    &,
    .d-icon {
      color: var(--color-ui-800) !important;
    }
  }
}

@mixin button-tertiary() {
  @include button-base();
  background: var(--color-ui-700) !important;
  --tw-shadow: inset 0 0 0 1px rgba(93, 93, 137, 0);
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &,
  .d-icon {
    color: var(--color-ui-300);
  }

  &:not([disabled]),
  &:not(.is-disabled) {

    &:hover,
    &:focus-visible {
      background: var(--color-ui-600) !important;
      --tw-shadow: inset 0 0 0 1px rgba(93, 93, 137, 0);
      --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

      &,
      .d-icon {
        color: var(--color-ui-200) !important;
      }
    }
  }
}


.btn {

  &:not(.widget-button):not(.btn-default):not(.btn-flat),
  &.btn-primary {
    @include button-primary();
  }
}

:where(.widget-button, .btn-default, .btn-flat) {
  @include button-tertiary();
}


nav.post-controls .actions button.d-hover,
nav.post-controls .actions button:focus,
nav.post-controls .actions button:active {
  background: var(--color-ui-700);
}

/*---------------------*/
/* TOPIC */
/*---------------------*/

@mixin surface() {
  background: var(--color-ui-800) !important;
  border: 1px solid var(--color-ui-700) !important;
}

@mixin surface-700() {
  background: var(--color-ui-700) !important;
  border: 1px solid var(--color-ui-600) !important;
}

#topic-title h1 a {
  font-style: italic;
  color: var(--color-ui-100);

  &:hover {
    color: var(--color-main);
  }
}

.names span a {
  color: var(--color-main);

  &:hover {
    color: var(--color-interaction-300);
  }
}

.post-stream {
  >.topic-post {
    margin-bottom: 1rem;
    border: none;
  }
}

.topic-body {
  border-radius: 1rem;
  @include surface();
  padding: 0.5rem;

  .topic-meta-data {
    padding: 0 0 0 0.75rem;

    .post-info {
      a {
        background: var(--color-ui-600);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        font-size: var(--font-down-1);
      }
    }
  }

  .cooked {
    line-height: 2.5rem;
  }
}

.topic-avatar {
  padding: 1rem 1rem 1rem 0;
  border: none;

}

.topic-map {
  margin: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  @include surface-700();

  section {
    &:first-child {
      border: none;
    }

    &:not(:first-child) {
      border-top: 1px solid var(--color-ui-500);
    }

    &.avatars {
      display: flex;
      flex-wrap: wrap;
      gap: 0.1rem;

      h3 {
        width: 100%;
      }
    }
  }

  ul {
    padding: 0.5rem;
    display: flex;

    >li {
      margin-right: 0.5rem;
      border-radius: 0.25rem;
      --tw-gradient-from: var(--color-ui-800);
      --tw-gradient-to: var(--color-ui-700);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      background: linear-gradient(to bottom, var(--tw-gradient-stops));
    }
  }

  .map {
    li {
      &.avatars {
        padding: 0;
      }
    }
  }

  .buttons {
    .btn {
      color: var(--color-ui-200);
      background: transparent;
      border: 1px solid var(--color-ui-700);
      border-radius: 0.5rem;

      &:hover {
        color: var(--color-ui-100);
        background: var(--color-ui-500);

        &:hover,
        &:focus-visible {
          --tw-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
          --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
      }
    }
  }

  .avatars {
    >div {
      margin: 0.5rem;
    }
  }

  h4 {
    margin: 1px 0 2px 0;
    color: var(--color-ui-300);
    font-family: var(--font-family);
    font-weight: normal;
    font-size: var(--font-down-1);
    line-height: var(--line-height-small);
  }
}

.small-action {
  max-width: 790px;

  &.topic-post-visited {
    .topic-post-visited-line {
      margin: 1rem 0px 2rem;
      border-bottom: 1px solid var(--color-ui-600);
    }

    .topic-post-visited-message {
      color: var(--color-ui-300);
    }
  }
}

.embedded-posts {
  border: none;

  .topic-avatar {
    padding: 0;
  }

  .topic-body {
    @include surface-700();
  }

  &.bottom .row .topic-avatar,
  &.bottom .row .topic-body {
    border: none;
  }
}

.post-info {
  &.post-date {
    background: var(--color-ui-600);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }
}

aside.quote {
  border-radius: 0;
  background-image: linear-gradient(90deg, var(--color-ui-900), transparent);

  blockquote {
    margin-bottom: 0;
  }
}

aside.quote .title,
blockquote {
  border-left: 5px solid var(--color-ui-500);
  background: transparent;
}

aside.onebox {
  background: var(--color-ui-900);
  border-radius: 0.5rem;
  border: 3px solid var(--color-ui-700);

  img {
    border-radius: 0.25rem;
  }
}

.posts-filtered-notice {
  max-width: 100%;
}

.post-menu-area {
  margin: 1rem;
}

/*---------------------*/
/* TIMELINE */
/*---------------------*/

.timeline-container {
  .topic-timeline {
    .timeline-handle {
      background: var(--color-main);
      transform: skewY(-24deg);
      border-radius: 0;
    }

    .timeline-scrollarea {
      border-left: 1px solid var(--color-main);
    }
  }
}

/*---------------------*/
/* IMAGES */
/*---------------------*/

.cooked img:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji),
.d-editor-preview img:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji) {
  border-radius: 0.25rem;
}

/*---------------------*/
/* LIST CONTROLS */
/*---------------------*/

@mixin dropdown() {
  border-radius: 0.5rem !important;
  background: var(--color-ui-700) !important;
  border: 1px solid var(--color-ui-600) !important;
}

@mixin menu() {
  margin: 0;
  padding: 0;

  >li {
    transition: all .2s ease-in-out;

    &.is-highlighted {

      &,
      &:hover {
        background: transparent !important;
      }
    }

    > * {
      position: relative;
      z-index: 20;
      user-select: none;
      transition: all .075s linear;

      &::after {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--color-ui-700);
        transition: all 0.2s cubic-bezier(.7, 0, .3, 1);
        opacity: 0;
        transform: scale(0) translateY(0.5rem);
      }

      &:hover,
      &:focus-visible,
      &.is-active {
        color: var(--color-ui-100);
        z-index: 20;


        >*:not(.icon) {
          transform: translateX(0.25rem);
        }

        &::after {
          opacity: 1;
          transform: scale(1) translateY(0);
          transition-duration: 0.75s;
        }
      }
    }
    
    &:active {
      &:hover,
      &:focus {
        &,
        &::after {
          background: var(--color-ui-600);
        }
      }
    }
  }


  a,
  button {
    position: relative;
    display: inline-flex;
    gap: 0.5rem;
    width: full;
    padding: 0.5rem;
    cursor: pointer;
    transition: all .2s cubic-bezier(.7, 0, .3, 1);
    color: var(--color-ui-200);
  }
}

ul.menu-links,
ul.select-kit-row,
ul.select-kit-collection {
  @include menu();
}

.list-controls {
  .combo-box {
    .combo-box-header {
      border: 1px solid var(--color-ui-700);
      border-radius: 0.25rem;
    }
  }
}

.nav-pills>li a {
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1;

  &:not(.active) {
    &:hover {
      color: var(--color-main);
      background-color: rgba(19, 240, 148, 0.15);
    }
  }

  &.active {
    background: var(--color-main);
  }
}

.select-kit {

  &.single-select.dropdown-select-box.is-expanded .select-kit-collection,
  &.single-select.dropdown-select-box.is-expanded .select-kit-body {
    border-radius: 0.5rem;
  }

  &.dropdown-select-box.period-chooser .period-chooser-row {
    border-radius: 0.25rem;

    .top-date-string {
      color: var(--color-ui-300);
    }
  }

  &.single-select.dropdown-select-box .select-kit-header {
    &:hover {
      --tw-shadow: inset 0 0 0 1px transparent;
      --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      background: var(--color-ui-700);
    }

    h2 {
      margin: 0.25rem 0;
    }
  }
}
}

.select-kit.is-expanded .select-kit-body,
.menu-panel {
  @include dropdown();
}


#reply-control {
  background: var(--color-ui-700);
}

.row {
  display: flex;
  gap: 0.5rem;

  &::before,
  &::after {
    display: none;
  }
}

.full-width {
  width: 100%;
}